<ul class="clientList-container">
	<li class="clientList" *ngFor="let cliente of clientes">{{cliente.name}}, {{cliente.phone}} 
		<button class="green-btn" (click)="getClient(cliente.id)">Detalle</button>
		<button class="blue-btn">
			<a [routerLink]="['/clientes',cliente.id,'actualizar']">Modificar</a>
		</button>
		<button class="red-btn" (click)="deleteElement(cliente.id)">Eliminar</button>
	</li>
</ul>

<div *ngIf="clientDetail">
	<b>Nombre: </b>{{clientDetail.name}}
	<br>
	<b>Teléfono: </b>{{clientDetail.phone}}
</div>