<h1 class="mainTitle">
  {{title}}
</h1>
<nav class="navMenu-cont">
	<ul class="navList">
		<li class="menuOption"><a [routerLink]="['clientes']">Ver Clientes</a></li>
		<li class="menuOption"><a [routerLink]="['registro']">Registrar Clientes</a></li>
		<!-- <li class="menuOption"><a [routerLink]="['clientes']">Actualizar Clientes</a></li> -->
		<!-- <li class="menuOption"><a [routerLink]="['eliminar']">Borrar Clientes</a></li> -->
	</ul>
</nav>
<router-outlet></router-outlet>