<h1>{{title}}</h1>

<div [hidden]="enviado">
	<form (ngSubmit)="onSubmit()" #addClientForm="ngForm">
		<input type="text" id="id" name="id" #id="ngModel" [(ngModel)]="cliente.id" required/>
			<div *ngIf="!id.valid && id.touched">El id es necesario</div>
		<input type="text" id="name" name="name" #name="ngModel" [(ngModel)]="cliente.name" required/>
			<div *ngIf="!name.valid && name.touched">El nombre es necesario</div>
		<input type="text" id="phone" name="phone" #phone="ngModel" [(ngModel)]="cliente.phone" required/>
			<div *ngIf="!phone.valid && phone.touched">El teléfono es necesario</div>
		<input type="submit" value="Enviar"/>
	</form>
</div>