body{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
	color:white;
}
.clientList{
    align-items: center;
	display: flex;
    justify-content: space-between;
	margin:5px 0;
}
.clientList-container{
	list-style: none;
	width:35%;
}
.green-btn{
	background-color:green;
	border:1px solid green;
	border-radius: 2em;
	color:white;
    height: 2em;
    outline: none;
    width: 5em;
}
.green-btn:hover{
	background-color: white;
	color:green;
	cursor:pointer;
}
.blue-btn{
	background-color:blue;
	border:1px solid blue;
	border-radius: 2em;
	color:white;
    height: 2em;
    outline: none;
    width: 5em;
}
.blue-btn:hover{
	background-color: white;
	color:blue;
	cursor:pointer;
}
.blue-btn>a:hover{
	color:blue;
}
.red-btn{
	background-color:red;
	border:1px solid red;
	border-radius: 2em;
	color:white;
    height: 2em;
    outline: none;
    width: 5em;
}
.red-btn:hover{
	background-color: white;
	color:red;
	cursor:pointer;
}
.mainTitle{
	text-align:center;
	margin-bottom:1em;
}
.menuOption{
    /* color: white; */
    margin: 5px 0;
    text-align: center;
	width: 25%;
}
.menuOption:hover{
	font-style:italic;
	text-decoration:underline;
}
.menuOption a{
	color:white;
	text-decoration:none;
}
.navList{
	background:linear-gradient(to right,black,gray);
	display:flex;
	justify-content: space-around;
	list-style: none;
	padding:0;
}